html, body {
    min-height: 100vh;
}


body {
    background: url("../Images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    backdrop-filter: blur(7px);
}

.reservation {
    margin-top: 400px;
    margin-left: 50px;
}

.reserve-button {
    display: block;
    background-color: rgb(172, 3, 37);
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(244, 244, 244);
    font-size: large;
}


h1{
    color: white;
    display:inline-block;
}
h3{
    color: white;
    font-size: 1cm;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
h2{
    position: relative;
}